v-card.order
    .main-info
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.orderId`)}}: {{order.id}}
        span.order-status(:class="{'processing': order.status === 'processing'}") {{$vuetify.lang.t(`$vuetify.pages.Orders.order.states.${order.status}`)}}
        v-icon(
            @click="showDetails = !showDetails"
            small
        ).open-details {{detailsIcon}}

    .details(v-if="showDetails")
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.name`)}}: {{order.client.name}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.phone`)}}: {{order.client.phone}}
        span {{$vuetify.lang.t(`$vuetify.pages.Orders.order.createdAt`)}}: {{order.createdAt | formatDate}}
        .actions
            v-icon.delete mdi-delete
            v-icon.edit mdi-pencil
