.pizza-order
    v-select(
        :label="$vuetify.lang.t(`$vuetify.pages.Orders.createOrder.choosePizza`)"
        :no-data-text="$vuetify.lang.t('$vuetify.autocomplete.noData')"
        :items="pizzas"
        v-model="pizza"
        return-object
        prepend-icon="mdi-pizza"
        item-text="name"
        clearable
        @click:clear="clear()"
        outlined
    )
