v-app
    v-app-bar(app color="blue darken-1")
        v-btn(icon)
            v-img(src="/img/pizza.png" max-width="77%")
        v-spacer
        .text-xs-center
            v-locale
    v-content
        router-view
