.v-toolbar__title {
    margin: 0 auto;
    color: white;
}

.v-toolbar {
    flex: unset !important;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title {

    font-size: 33px !important;
}

.v-input__slot {
    margin-right: 15px;
    margin-bottom: 0!important;
}

.switch-theme .v-messages {
    display: none!important;
}

.content-wrap {
    height: 56px;
}

.exit-btn {
    margin-left: 20px;
}
