.v-toolbar__content {
    justify-content: center;
}

.login {
    width: 100%;
    max-width: 500px;
}

.v-card {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%)
}

.v-btn {
    display: block;
    margin: 0 0 0 auto;
}

.v-messages__message {
    line-height: unset !important;
}
