.create-button {
    position: absolute;
    right: 20px;
    top: 80px;
    cursor: pointer;
    z-index: 4;
}

.orders {
    z-index: 2;
    max-width: 380px;
    height: calc(100% - 56px);
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 10px 15px 0 #424242;
    overflow-y: scroll;
    overflow-x: hidden;
}

.order-details {
    .calculated-info {
        display: flex;
        flex-direction: column;
    }
}

.justify-right {
    justify-content: flex-end !important;
}

.orders-header {
    padding-bottom: unset !important;
}

.order-number {
    padding-left: unset !important;
}

.add-order-wrapper {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: space-between;

    .add-order-btn {
        margin-left: 10px;
    }

    &:first-child {
        margin-right: 20px;
    }

    &__total-price {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 16px 0 16px;
        color: orange;
    }
}

.order-details{
    .form-title {
        justify-content: center;
        text-transform: uppercase;
        color: purple;
    }

    .user-name, .street {
        display: flex;
        justify-content: space-between;

        .v-input__slot {
            margin-right: unset !important;

            &:last-child {
                margin-left: 15px !important;
            }
        }

        .v-input__control:nth-child(1) {
            margin-left: 20px;
        }
    }

    .cancel-button {
        margin-left: 20px;
    }
}

.order-create-buttons {
    margin-right: calc(5% - 5px);

    .v-btn:first-child {
        margin-right: 10px;
    }
}

.orders-middle {
    z-index: 3;
    height: calc(100vh - 135px);
    width: 100%;
    padding: 10px 10px 5px 10px;
    color: #31373d;
}

.empty-state {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 20px;
    color: grey;
}

::v-deep .page-map {
    position: absolute;
}

.v-main__wrap {
    overflow: hidden;
}