v-container
    .create-button
        v-btn(@click="createDialog = true" color="primary" fab)
            v-icon mdi-plus
    .orders
        .empty-state(v-if="!orders.length")
            v-icon(size="100px") mdi-clock-outline
            p {{ $vuetify.lang.t(`$vuetify.pages.Orders.noOrders`) }}
        v-order(v-for="(item, index) in orders" :order="item" :key="item.id")
    .create-order
        include ./mixins/create-order

    v-map.page-map





