$tableColor: #1976D2;

body {
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.44, rgb(122,153,217)),
                color-stop(0.72, rgb(73,125,189)),
                color-stop(0.86, rgb(28,58,148)));
    }
}

.v-container {
    padding-top: 50px;
}

.table-text {
    text-align: center;
}

.v-messages__message {
    margin-top: 3px;
}

table.v-table {
    max-width: none!important;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch;
}

.v-data-table{
    overflow: hidden;
    width: 100%;

    thead {
        background-color: $tableColor;
    }

    th {
        color: white !important;
        border-right: 1px solid #737373;

        &:last-child {
            border-right: none;
        }
    }

    td {
        text-align: center;
    }

    tr {
        border: 1px solid #0000001f !important;
    }
}

.plus  {
    position: fixed;
    left: 30px;
    bottom: 30px;

    &:hover {
        transform: scale(1.08);

        .v-icon {
            transform: rotate(10deg)
        }
    }
}

.back {
    position: fixed;
    left: 30px;
    bottom: 30px;
}

// Maybe will be needed soon
//.light-bg {
//    background: url(../../public/img/light_background.png) fixed !important;
//}
//
//.dark-bg {
//    background: url(../../public/img/dark_background.png) fixed !important;
//}







