v-menu(offset-y)
    template(v-slot:activator="{ on }")
        v-btn(v-on="on" color="accent") {{currentLang}}
    v-list
        v-list-item(
            v-for="(locale, index) in locales"
            :key="index"
            @click="changeLocale(locale)"
            :class="{'active': locale === currentLang}"
        )
            v-list-item-title {{$vuetify.lang.t(`$vuetify.locales.${locale}`)}}
